apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  namespace: web-ns
  labels:
    app: nginx
spec:
  replicas: 5  
  strategy:
    type: RollingUpdate
    rollingUpdate:
       maxSurge: 25%
       maxUnavailable: 25%
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:1.200
        ports:
        - containerPort: 8082
        volumeMounts:
        - name: nginx-html
          mountPath: /usr/share/nginx/html/index.html
          subPath: index.html
        - name: nginx-config
          mountPath: /etc/nginx/conf.d/default.conf
          subPath: default.conf
      - name: multitool
        image: wbitt/network-multitool:latest
        env:
          - name: HTTP_PORT
            value: "8081"
        ports:
        - containerPort: 8081
      volumes:
        - name: nginx-html
          configMap:
            name: nginx-configmap
            items:
            - key: index.html
              path: index.html
        - name: nginx-config
          configMap:
            name: nginx-configmap
            items:
            - key: default.conf
              path: default.conf