apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment-init
  labels:
    app: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:1.26.2
        ports:
        - containerPort: 80
      initContainers:
      - name: wait-for-nginx-svc
        image: busybox
        command: 
          - sh
          - -c
          - |
            echo "Waiting for nginx-svc..."
            until nslookup nginx-svc.default.svc.cluster.local >/dev/null 2>&1; do
              echo "Service not found, sleeping..."
              sleep 2
            done
            echo "Service found, starting nginx"